html, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

#sidebar-toggle {
    background-color: #22313F;
    color: #19B5FE;
    text-shadow: 1px 1px 0px #000000;
    height: 30px;
    position: fixed;
    width: 220px;
    z-index: 1;
}

#sidebar {
    background-color: #22313F;
    display: none;
    height: 100%;
    overflow: scroll;
    padding: 20px;
    position: fixed;
    width: 180px;
}

#sidebar h1 {
    color: #19B5FE;
    text-shadow: 1px 1px 0px #000000;
}
